body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  text-align: center;
}

header {
  background: rgba(0,0,0,0.2);
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  padding: 100px 20px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.section {
  padding: 60px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 10px;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
}

.box {
  background: rgba(255,255,255,0.2);
  padding: 40px;
  border-radius: 15px;
  width: 200px;
  font-size: 20px;
}
